<header class="site-header">

	<div class="headerwrapper">
	<a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
	</div>
	<div class="wrapper" id="site-description">
	<p>{{ site.description | escape }}</p>
	<p style="font-size: 25px; color: #F33203;">
		Website moved to <a href="https://litchipi.site">litchipi.site</a>, nothing new will be published there.<br/>
		All the articles can be read from the new website
	</p>
	</div>

	<div class="contact">
      {%- if site.author %}
        <ul class="contact-list">
		  
		  {% if site.author.github %}
			<li><a class="u-github" href="{{ site.author.github }}">&lt Github profile &gt</a></li>
		  {% endif %}

		  {% if site.author.mastodon %}
			<li><a rel="me" class="u-mastodon" href="{{ site.author.mastodon }}">&lt Mastodon &gt</a></li>
		  {% endif %}
          
		  {% if site.author.email -%}
            <li><a class="u-email" href="mailto:{{ site.author.email }}">&lt mailto: {{ site.author.email }} &gt</a></li>
          {%- endif %}
        </ul>
      {%- endif %}
	</div>

</header>
