<!-- TODO	Fix the conditions on the navigation bar !-->
<div class="sidenav">
	<div class="sitenav">
		<a href="/">Index</a>
	</div>

	{%- if post.post_serie -%}
	<p><h3> Serie of posts </h3>
		{%- for post in post.post_serie -%}
		<a href="{{ post.url }}">{{ post.title }}</a>
		{%- endfor -%}
	</p>
	{%- endif -%}


	<div class="catnav">
	{% assign maxRelated = 2 %}
	{% assign maxRelatedCounter = 0 %}
	{% assign writeHeader = true %}

	{% for post in site.posts %}
		{% for category in post.categories %}

		  {% if post.url != page.url %}
			{% if page.categories contains category %}

			  {% if writeHeader == true %}
				<p><h3> Same category </h3>
			    {% assign writeHeader = false %}
			  {% endif %}

			  {{ maxRelatedCounter }} and {{ maxRelated }}
			  {% if maxRelatedCounter >= maxRelated %}
				BREAAAK
			  {% endif %}
			  <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>

			  {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
			  {% if maxRelatedCounter >= maxRelated %}
				{% break %}
			  {% endif %}

			{% endif %}
		  {% endif %}

		{% endfor %}
	{% endfor %}

	</div>
</div>
