.footer-contact {
	line-height: normal;
}

.footer-contact ul{
	list-style-type: none;
}


.footer-contact a{
	color: $color2;
	margin-right: 10px;
}

.footer-contact-list .p-name{
	font-size: larger;
	font-weight: bold;
	color: $text-color;
}

.feed-subscribe{
	color: $color1_dark;
}
