.sidenav {
  border: 1px solid $color1;
  max-width: 250px; /* Set the width of the sidebar */
  z-index: 1; /* Stay on top */
  display: block;
  position: fixed;
  top: 50%;
  transform: translate(5%, -50%);
  left: 0;
  background-color: $background-color;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding: 20px 20px 20px 20px;
  text-shadow: unset;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #808080;
  display: block;
}

.sidenav .current_post {
	color: $color2;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: $color2_light;
}

.inpost-nav {
	border: 1px solid $color1;
	max-width: 250px; /* Set the width of the sidebar */
	display: block;
	background-color: $background-color;
	overflow-x: hidden; /* Disable horizontal scroll */
	width: max-content;
	padding: 20px 20px 20px 10px;
	position: fixed;
	transform: translate(-5%, -50%);
	z-index: 1;
	right: 0;
	top: 50%;

	ul {
		list-style-type: none;
		margin-bottom: 10px;
	}

	li a {
		color: $color1;
	}

	li li a {
		color: $color2;
	}
	
	li li li a {
		color: $color2_light;
	}

	li li li li a {
		color: $text-color;
	}
}
