.sidenav {
  border: 1px solid $color1;
  z-index: 1; /* Stay on top */
  display: block;
  position: fixed;
  top: 50%;
  transform: translate($sidenav-sideoffset, -50%);
  left: 0;
  background-color: $background-color;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding: 10px 0px 10px 15px;
  text-shadow: unset;
  max-width: $sidenav-width;
  width: $sidenav-width;

	#current_post {
		color: $color2;
	}

	.post_same_serie {
		color: $color2_dark;
	}

	.sidenav_seriename {
		font-weight: bolder;
		color: $color3;
	}
}

.sidenav:hover {
	border-width: 4px;
	margin-left: -3px;
}

/* The navigation menu links */
.sidenav a {
	padding: 6px 8px 6px 8px;
	text-decoration: none;
	font-size: 18px;
	color: $color1;
	display: block;

}

.sidenav a:hover {
  color: $color2_light;
}

.sitenav-mobile {
	border: 5px solid $color1_dark;
	border-left: unset;
	border-right: unset;
	padding: 5px 10px;
	display: none;
	font-size: 22px;

	.sidenav_seriename {
		font-weight: bolder;
		color: $color3;
		margin-top: 20px;
	}

	i {
		margin-left: 5px;
		margin-right: 15px;
	}

	h1 {
		margin-top: 10px;
		font-size: 25px;
		color: $color1;
	}

	a {
	  padding: 0px 20px;
	  text-decoration: none;
	  color: $color1;
	  display: block;
	  margin-bottom: 10px;
	}

	#current_post {
		color: $color2_light;
	}

	.post_same_serie {
		color: $color2;
		margin-top: 10px;
		margin-left: 20px;
	}
}
.sitenav-mobile a:hover {
  color: $color2_light;
}

.inpost-nav:hover {
	border-width: 4px;
	margin-right: -3px;
}

.inpost-nav {
	border: 1px solid $color1;
	max-width: $sidenav-width;
	width: max-content;
	display: block;
	background-color: $background-color;
	overflow-x: hidden; /* Disable horizontal scroll */
	padding: 20px 20px 20px 10px;
	position: fixed;
	transform: translate(-$sidenav-sideoffset, -50%);
	z-index: 1;
	right: 0;
	top: 50%;

	a:hover {
		color: $color2_light;
		text-decoration: none;
	}

	ul {
		list-style-type: none;
		margin-bottom: 10px;
	}

	li a {
		color: $color1;
	}

	li li a {
		color: $color2;
	}

	li li li a {
		color: $color3;
	}

	li li li li a {
		color: $text-color;
	}
}

.inpost-nav-mobile {
	margin-top: 30px;
	margin-left: 10px;
	border-left: 3px solid $color2_light;
	padding: 5px 10px;
	display: none;
	font-size: 22px;

	a:hover {
		color: $color2_light;
		text-decoration: none;
	}

	i {
		margin-right: 20px;
		border-color: $color2_light;
	}

	h1 {
		font-size: 30px;
		color: $color2_light;
	}

	ul {
		list-style: none;
		margin-bottom: 10px;
	}

	li {
		font-weight: bold;
		margin-bottom: 10px;
	}

	a {
		font-weight: initial;
	}

	li a {
		color: $color1;
	}

	li li a {
		color: $color2;
	}
	
	li li li a {
		color: $color3;
	}

	li li li li a {
		color: $text-color;
	}
}

#mobilenav-wrapper{
	margin-bottom: 50px;
	margin-top: 5px;
}

/*hide the inputs/checkmarks and submenu*/
input, div.nav-hidden-content {
	display: none;
}

/*position the label*/
label {
	position: relative;
	display: block;
	cursor: pointer;
}

/*show the submenu when input is checked*/
input:checked~div.nav-hidden-content {
	display: block;
}



#current_post i {
	margin-right: 15px;
	border-color: $color2;
}
