.post-title {
	color: $color1;
	font-size: 40px;
	font-weight: bolder;
}

.post-content {
	h1 {
		border-top: 3px solid $color1_dark;
		color: $color1;
		font-size: 33px;
		margin: unset;
		margin-top: 20px;
		padding-top: 12px;
		margin-bottom: 10px;
	}

	h2 {
		color: $color2;
		font-size: 27px;
		margin: unset;
		margin-top: 30px;
		margin-left: 5px;
		margin-bottom: 5px;
	}

	h3 {
		color: $color2_light;
		font-size: 22px;
		margin: unset;
		margin-left: 15px;
		margin-bottom: 5px;
		text-decoration: underline solid $color2_dark;
		text-underline-offset: 4px;
	}

	h4 {
		color: $text-color;
		font-size: 17px;
		margin: unset;
		margin-left: 25px;
		margin-bottom: 5px;
		text-decoration: underline solid $color1_dark;
		text-underline-offset: 5px;
	}

	p {
		margin: unset;
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 17px;
	}

	blockquote {
		font-size: 15px;
		color: $color2_light;
		border-left-color: $color2_dark;
	}
	pre{
		border-radius: 5px;
		border-color: darken($color1_dark, 15%);
		margin-top: 10px;
	}
}

.post-meta-serie {
	margin-left: 50px;
	a {
		color: $color2;		//TODO	FIX doesn't work
	}
}

.author_name {
	color: $color2;
}

