.post-title {
	color: $color1;
	font-size: 40px;
	font-weight: bolder;
}

.post-content {
	a {
		color: $color1_light;
		text-decoration: underline;
		text-decoration-color: $color1;
		text-underline-offset: 3px;
	}

	h1 {
		border-top: 7px solid $color1_dark;
		color: $color1;
		font-size: 33px;
		margin: unset;
		margin-top: $post-parts-spacing;
		padding-top: $post-parts-spacing;
		margin-bottom: 10px;
	}

	h2 {
		color: $color2;
		font-size: 27px;
		margin: unset;
		margin-top: 40px;
		margin-left: 5px;
		margin-bottom: 10px;
	}

	h3 {
		color: $color3;
		font-size: 24px;
		margin: unset;
		margin-top: 30px;
		margin-left: 15px;
		margin-bottom: 5px;
	}

	h4 {
		color: $text-color;
		font-size: 20px;
		margin: unset;
		margin-top: 20px;
		margin-left: 25px;
		margin-bottom: 10px;
		text-decoration: underline solid $color1_dark;
		text-underline-offset: 5px;
	}

	p {
		margin: unset;
		margin-top: 20px;
		margin-bottom: 20px;
		margin-left: 15px;
		font-size: 17px;
	}

	blockquote {
		font-size: 15px;
		color: $color2_light;
		border-left-color: $color2_dark;
		margin-left: 15px;
		padding-left: unset;
	}


	.highlight {
		background: darken($color3, 65%);
		border-color: darken($color3, 15%);
		border-radius: 5px;
		margin-top: 10px;

		code {
			background-color: unset;
		}
	}

	strong {
		color: $color3;
	}

	em {
		color: lighten($color3, 10%);
	}
}

.post-meta-serie {
	margin-left: 50px;
	a {
		color: $color2;		//TODO	FIX doesn't work
	}
}

.author_name {
	color: $color3;
}

.serie_post_prec_next {
	margin-top: $post-parts-spacing;
	padding-top: $post-parts-spacing;
	border-top: 5px dashed $color1_dark;
	font-size: larger;

	a { 
		color: $color2_light;
		margin-left: 10px;
	}
}

.post_serie_meta {
	font-size: larger;
	margin-bottom: 30px;
	a {
		color: $color3;
		font-weight: bolder;
	}
}
