.post_series_list {
	list-style: none;
	line-height: 60px;
}

.post_series_list a {
	color: $color1;
}

.post_series_list li {
	font-size: 25px;
	border-left: 5px solid $color2;
	padding-left: 20px;
}

.post_series_list .post_serie_index {
	margin-right: 25px;
	color: $color2;
	font-weight: bolder;
}

.post_series_list li:hover{
	border-left: 5px solid $color2;
	background-color: rgba($color2, 0.1);

	a {
		color: $color2_light;
	}

	a:hover{
		text-decoration: none;
		color: $color2;
	}
}
