---
---

@import
  "dark",
  "initialize",
  "navigation",
  "post",
  "header",
  "footer",
  "series",
  "categories",
  "home";

@media screen and (max-height: $maxnavheight_threshold) {
	.wrapper {
		margin-left: unset;
		margin-right: unset;
	}
	.contact {
		display: none;
	}
	.footer-contact{
		display: block;
	}

	.site-header {border-bottom: unset;}

	.sidenav {display: none;}
	.sitenav-mobile {display: block;}
	.inpost-nav {display: none;}
	.inpost-nav-mobile {display: block;}
        .home-side-browse { display: none; }
}

@media screen and (max-width: 1200px) {
	.wrapper {
		margin-left: unset;
		margin-right: unset;
	}
	.contact {
		display: none;
	}
	.footer-contact{
		display: block;
	}

	.site-header {border-bottom: unset;}

	.sidenav {display: none;}
	.sitenav-mobile {display: block;}
	.inpost-nav {display: none;}
	.inpost-nav-mobile {display: block;}
}

.site-title {
	font-weight: bolder;
}

.site-title:hover {
	text-decoration: none;
	color: $color2;
}

 .arrow {
  border: solid $color1;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
