---
---

@import
  "dark",
  "initialize",
  "navigation",
  "post",
  "header",
  "home";

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}

.site-title {
	font-weight: bolder;
}

.site-title:hover {
	text-decoration: none;
	color: $color2;
}
