---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <body>
    {%- include header.html -%}

    {% if page.title != "Index" %}
	{%- include navigation.html -%}
	{%- include mobile-navigation.html -%}
    {% else %}
        {%- include browse.html -%}
    {% endif %}
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    {%- include footer.html -%}
  </body>
</html>
