---
layout: base
---
{%- include inside_post_navigation.html -%}
<div class="post-header">
    <p class="post-meta">
      
		{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        &nbsp Published: {{ page.date | date: date_format }} &nbsp
      </time>

      {%- if page.modified_date -%}
		&nbsp last edit:
        {%- assign mdate = page.modified_date | date_to_xmlschema -%}
        <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
          {{ mdate | date: date_format }}
        </time>
		 &nbsp
      {%- endif -%}

	  {%- assign post_author = page.author | default: site.author.name -%}
	   &nbsp by <span class="author_name">{% for author in post_author %} {{ author }}</span> &nbsp
        {%- if forloop.last == false %}, {% endif -%}
        {% endfor %}
	</p>
</div>

<h1 class="post-title">{{ page.title }}</h1>
<div class="post-content">
{{ content }}
</div>

{% if page.series %}
<div class="serie_post_prec_next">
	{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

	{%- assign prec = page.serie_index | minus: 1 -%}
	{%- assign next = page.serie_index | plus: 1 -%}

	{%- for post in site.posts -%}
		{% if page.series == post.series %}
			{% if prec == post.serie_index %}
				{%- assign precedent_post = post %}
			{% endif %}
			{% if next == post.serie_index %}
				{%- assign next_post = post %}
			{% endif %}
		{% endif %}
	{%- endfor -%}

	{% if precedent_post.title %}
	<p>
	Precedent post in this serie: <a href="{{ precedent_post.url }}" class="precedent_post">{{ precedent_post.title }}</a>
	</p>
	{% endif %}

	{% if next_post.title %}
	<p>
	 Next post in this serie: <a href="{{ next_post.url }}" class="next_post">{{ next_post.title }}</a>
	</p>
	{% endif %}
</div>
{% endif %}
