---
layout: base
---
{%- include inside_post_navigation.html -%}
<div class="post-header">
    <p class="post-meta">
      
		{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        &nbsp Published: {{ page.date | date: date_format }} &nbsp
      </time>

      {%- if page.modified_date -%}
		&nbsp last edit:
        {%- assign mdate = page.modified_date | date_to_xmlschema -%}
        <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
          {{ mdate | date: date_format }}
        </time>
		 &nbsp
      {%- endif -%}

	  {%- assign post_author = page.author | default: site.author.name -%}
	   &nbsp by <span class="author_name">{% for author in post_author %} {{ author }}</span> &nbsp
        {%- if forloop.last == false %}, {% endif -%}
        {% endfor %}
	</p>
</div>

<h1 class="post-title">{{ page.title }}</h1>
<div class="post-content">
{{ content }}
</div>
